.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.go-back-main {
  display: flex;
  align-items: center;
  margin-block: 4px;
  margin-inline-end: 0;
  margin-inline-start: 0;
  overflow: hidden;
}
.go-back-icon {
  all: unset;
  margin-inline-end: 16px;
  font-size: 16px;
  line-height: 1;
  padding: 8px;
  outline: none;
  cursor: pointer;
  transition: color 0.3s;
  &:hover {
    color: rgba(0, 0, 0, 0.88);
    background: rgba(0, 0, 0, 0.06);
    border-radius: 8px;
  }
}
.go-back-title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;

  color: rgba(0, 0, 0, 0.88);
}

.content {
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  min-height: 300px;
}
.card-user {
  margin: -4px 0;
  display: flex;
  height: 55px;
}
.card-user-avatar {
  width: 32px;
  height: 55px;
  margin-right: 16px;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.card-user-info {
  overflow: hidden;
  flex: 1;
}
.card-user-name {
  margin-bottom: 8px;
  color: rgba(0, 0, 0, 0.88);
  font-weight: 600;
  font-size: 16px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.5;
}

.space {
  display: flex;
  clear: both;
  width: 100%;
  min-width: 100%;
  margin: 24px 0;
  border-block-start: 1px solid rgba(5, 5, 5, 0.06);
}
